<div class="container">
  <table class="table table-bordered table-inverse">
    <tr>
      <th>Title</th>
      <th>ISBN</th>
      <th>Date</th>
      <th class="text-right">Price</th>
    </tr>
    <tr *ngFor="let book of books">
      <td>
        <a [routerLink]="['/admin/view/', book.id]" >{{book.name}}</a>
      </td>
      <td>
        {{book.isbn}}
      </td>
      <td>
        {{book.date}}
      </td>
      <td class="text-right">
        {{book.price}}
      </td>
    </tr>
  </table>
</div>
